<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../includes/zeta_head.ejs') %>
  </head>

  <body>

    <%- include('../includes/zeta_loader.ejs') %>

    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

      <!-- Page Header Start-->
      <%- include('../includes/zeta_header.ejs') %>
      <!-- Page Header Ends -->

      <!-- Page Body Start-->
      <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        <%- include('../includes/zeta_sidebar.ejs') %>
        <!-- Page Sidebar Ends-->

        <div class="page-body">

            <div class="container-fluid">
              <div class="page-title">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <h3>Product Page</h3>
                  </div>
                  <div class="col-12 col-sm-6">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">                                       <i data-feather="home"></i></a></li>
                      <li class="breadcrumb-item">E-Commerce</li>
                      <li class="breadcrumb-item active">Detalle del Producto</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>

            <!-- Container-fluid starts-->
            <div class="container-fluid">
              
              <div>
                <div class="row product-page-main p-0">
                  <div class="col-xl-5 col-md-6 box-col-6 xl-50">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          
                          <div class="col-xl-12 box-col-9 product-main">
                            <div class="pro-slide-single">
                              <div>
                                <img class="img-fluid" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-2 col-md-6 box-col-6 xl-50 proorder-lg-1">
                    <div class="card">
                      <div class="card-body">
                        <div class="pro-group pt-0 border-0">
                            <div class="product-page-details mt-0">
                              <h3><%= product.title %></h3>
                            </div>
                            <div class="product-price">$<%= product.price %></div>
                          </div>
                          <div class="pro-group">
                            <p><%= product.description %></p>
                          </div>
                          
                          <div class="pro-group">
                            <div class="row">
                              <div class="col-md-4 xl-50">
                                <h6 class="product-title">compartir</h6>
                              </div>
                              <div class="col-md-7 xl-50">
                                <div class="product-icon">
                                  <ul class="product-social">
                                    <li class="d-inline-block"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li class="d-inline-block"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li class="d-inline-block"><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                  </ul>
                                  <form class="d-inline-block f-right"></form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="pro-group pb-0">
                            <div class="pro-shop">
                                <a class="btn btn-primary m-r-10" href="cart.html">
                                    <i class="fa fa-shopping-basket me-2"></i>
                                    Agregar al Carrito
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <i class="fa fa-heart me-2"></i>
                                    Lista de deseos
                                </a>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              
            </div>
            <!-- Container-fluid Ends-->
        </div>

        <!-- footer start -->
        <%- include('../includes/zeta_footer.ejs') %>
        <!-- footer end -->
        
      </div>

    </div>

    <%- include('../includes/zeta_end.ejs') %>
  </body>
</html>
